[Unit]
Description=PCAP-to-CIClog Collection and Conversion
After=syslog.target network.target

[Service]
WorkingDirectory=/home/CIC/TCPDUMP_and_CICFlowMeter
ExecStart=/bin/bash /home/CIC/TCPDUMP_and_CICFlowMeter/try-me.sh
Restart=on-failure
KillSignal=SIGINT
SyslogIdentifier=pcap2ciclog
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
